<!-- about me -->
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="about-me-dyn">
	<div class="det-user-wrap">
		<div class="dyn-user-img">
			<img src="/images/my.png">
		</div>
		<div class="dyn-user-name">
			<span>夏映柳</span>
		</div>
		<div class="dyn-uesr-job">
			<span>软件工程师</span>
		</div>
		<div class="dyn-uesr-address">
			<span class="glyphicon glyphicon-map-marker"></span>江苏，南通
		</div>
		<ul class="det-user-inf">
		  <li class="active">
			<span class="glyphicon glyphicon-user"></span>About me
		  </li>
		  <li>
			<span class="glyphicon glyphicon-send"></span>Experience
		  </li>
		  <li>
			<span class="glyphicon glyphicon-wrench"></span>Professional skills
		  </li>
		</ul>
	</div>
	<div class="det-user-list">
	  <div class="me-wrap">
	  	<div class="dyn-icon-bar">
	  		<span class="my-icon-bar"></span>
	  		<span class="my-icon-bar"></span>
	  		<span class="my-icon-bar"></span>
	  	</div>
	  	<div class="clear"></div>
	  	<div class="about-me-tit">
	  		ABOUT ME
	  	</div>
  	    <ul class="about-me-details">
	    	<li>
	    		<span class="diamond"></span><span class="key">NAME:</span><span class="value">夏映柳</span>
	    	</li>
			<li>
	    		<span class="diamond"></span><span class="key">BIRTHDAY:</span><span class="value">1993.4</span>
	    	</li>
	    	<li>
	    		<span class="diamond"></span><span class="key">CITY:</span><span class="value">江苏，南通</span>
	    	</li>
	    	<li>
	    		<span class="diamond"></span><span class="key">TEL:</span><span class="value">18306271627</span>
	    	</li>
	    	<li>
	    		<span class="diamond"></span><span class="key">EMAIL:</span><span class="value">602165057@QQ.COM</span>
	    	</li>
	    	<li>
	    		<span class="diamond"></span><span class="key description">DESCRIPTION:</span><span class="value description-value-one">性格开朗，善于沟通;</span><br><span  class="value description-value">较强的逻辑思维和自学能力;</span><br><span  class="value description-value">对待工作认真、负责;</span><br><span  class="value description-value">具有强烈责任感;</span>
	    	</li>
  	    </ul>

	  </div>
	</div>
</div>