<!-- exp html -->
<meta charset="utf-8">
<div class="exp-dyn">
	<div class="exp-left-dyn">
		<span class="exp-left-tit">Summer</span>
		<div class="my-icon"><img src="../images/user.png"></div>
		<div class="exp-menu-dyn">
			<div><a>HOME</a></div>
			<div><a >ABOUT ME</a></div>
			<div><a class="active">EXPERIENCE</a></div>
			<div><a >PROFESSIONAL SKILLS</a></div>
		</div>
	</div>
	<div class="exp-content-dyn">
		<div class="exp-main-box">
			<div class="exp-content-box">
				<div class="exp-tit">
					<span class="add-icon">+</span><span>工作经历</span>
				</div>
				<div class="exp-wrap-dyn">
					<div class="exp-work exp-work-tiem">2014.04-至今</div>
					<div class="exp-work exp-work-name">江苏如云信息科技股份有限公司</div>
				</div>
				<div class="exp-new-wrap">
					<div class="new-wrap-round">
					    <div>
					    	<div class="company company-tit">公司性质:</div>
					    	<div class="company company-content">私营.民营企业</div>
					    	<div class="company company-tit">公司规模:</div>
					    	<div class="company company-content">100-499人</div>
					    	<div class="company company-tit">公司行业:</div>
					    	<div class="company company-content">计算机软件</div>
					    </div>
					    <div class="exp-work exp-work-child">
					    	<span>java软件工程师</span>
					    	<span>2014.04-至今</span>
					    </div>
					    	<div class="company company-tit">工作地点:</div>
					    	<div class="company company-content">南通</div>
					    	<div class="company company-tit">工作职责:</div>
					    	<div class="company company-content">
                                 erp项目负责前台extjs编写，后台java编写;<br>社交项目主要负责前台页面布局，js编码，部分java台编码工作;
                            </div>
					    <div class="clear"></div>
					</div>
				</div>
			</div>

			<div class="exp-content-box">
				<div class="exp-tit">
					<span class="add-icon">+</span><span>项目经历</span>
				</div>
				<div class="exp-wrap-dyn">
					<div class="exp-work exp-work-tiem">云筑加</div>
					<div class="exp-work exp-work-name">2015.01-至今</div>
				</div>
				<div class="exp-new-wrap xm-wrap">
					<div class="new-wrap-round">
					    <div>
					    	<div class="company company-tit">项目描述:</div>
					    	<div class="company company-content">云筑加是面向整个建筑行业产业链沟通协作的社交化服务平台，以企业内部协作和企业间协作为核心，通过企业社交网络和企业应用，提升企业运营管理效率，提升企业透明度和加速企业内部信息传递，使客户、供应商和合作伙伴跨越企业边界进行协作，降低企业服务成本，改变企业服务模式，将企业内部应用最简化、最方便的集成，实现企业内部、外部信息的集成与统一管理。
					    	</div>
					    	<div class="company company-tit">工作职责:</div>
					    	<div class="company company-content">主要负责前端编码工作，参与部分后台编码工作</div>
					    </div>
					    <div class="clear"></div>
					</div>
				</div>

				<div class="exp-wrap-dyn">
					<div class="exp-work exp-work-tiem">Erp</div>
					<div class="exp-work exp-work-name">2014.05–2014.12</div>
				</div>
				<div class="exp-new-wrap xm-wrap">
					<div class="new-wrap-round">
					    <div>
					    	<div class="company company-tit">项目描述:</div>
					    	<div class="company company-content">如云工程企业管理软件是在如云科技推出的中国第一朵“建筑行业云”服务平台上打造的一套全新理念的云管理软件，主要适应于房屋建筑、市政路桥、设备安装、装饰装修等以工程施工为主的企业，目的就是为了让中小成长型建筑施工企业都能插上信息化的翅膀，提高企业的核心竞争力，为企业的发展和壮大保驾护航！
					    	</div>
					    	<div class="company company-tit">工作职责:</div>
					    	<div class="company company-content">负责前后端的编码工作</div>
					    </div>
					    <div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>