<!-- exp html -->
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="exp-dyn">
	<div class="exp-left-dyn">
		<span class="exp-left-tit">Summer</span>
		<div class="my-icon"><img src="../images/user.png"></div>
		<div class="exp-menu-dyn">
			<div><a>HOME</a></div>
			<div><a >ABOUT ME</a></div>
			<div><a class="active">EXPERIENCE</a></div>
			<div><a >PROFESSIONAL SKILLS</a></div>
		</div>
	</div>
	<div class="exp-content-dyn">
		<div class="exp-main-box">
			<div class="exp-content-box">
				<div class="exp-tit">
					<span class="add-icon">+</span><span>工作经历</span>
				</div>
			</div>
		</div>
	</div>
</div>