<!-- 主页 -->
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div ng-controller="homeCtrl">
<div class="header"></div>
<div class="annotation">
  <span>@Summer</span>
</div>
<ul class="main-img-dyn">
  <li class="meself" img-hover>
    <div class="img-hover meself-hover">
      
    </div>
    <img src="/images/tag1.png">
  </li>
  <li ui-sref="about-me">
    <img src="/images/tag2.png">
  </li>
  <li class="experience" img-hover>
    <div class="img-hover experience-hover"></div>
    <img src="/images/tag3.png">
  </li>
  <li>
    <img src="/images/tag4.png">
  </li>
</ul>
<div class="clear"></div>
<div class="bottom"></div>
</div>