<!-- skills html -->
<meta charset="utf-8">
<div class="exp-dyn">
	<div class="exp-left-dyn">
		<span class="exp-left-tit">Summer</span>
		<div class="my-icon"><img src="../images/user.png"></div>
		<div class="exp-menu-dyn">
			<div><a>HOME</a></div>
			<div><a >ABOUT ME</a></div>
			<div><a >EXPERIENCE</a></div>
			<div><a class="active">PROFESSIONAL SKILLS</a></div>
		</div>
	</div>
	<div class="exp-content-dyn">
		<div class="exp-main-box">
	      <ul class="company skills-details">
	    	<li>
	    		<span class="diamond blue-diamond edit-px"></span><span class="key">熟练使用SpringMVC、Mybatis框架;</span>
	    	</li>
	    	<li>
	    		<span class="diamond blue-diamond edit-px"></span><span class="key">熟练使用extjs，jquery，angularjs;</span>
	    	</li>
	    	<li>
	    		<span class="diamond blue-diamond edit-px"></span><span class="key">熟悉bootstrap响应式框架;</span>
	    	</li>
	    	<li>
	    		<span class="diamond blue-diamond edit-px"></span><span class="key">熟练使用div+css布局，熟练使用less语法;</span>
	    	</li>
	    	<li>
	    		<span class="diamond blue-diamond edit-px"></span><span class="key">了解nodejs，整合express，nodejs，angularjs，bootstrap，mysql构建项目;</span>
	    	</li>
	    	<li>
	    		<span class="diamond blue-diamond edit-px"></span><span class="key">熟练使用mysql，sqlserver数据库;</span>
	    	</li>
	    	<li>
	    		<span class="diamond blue-diamond edit-px"></span><span class="key">掌握标准sql语言，对函数过程触发器的构建有一定了解;</span>
	    	</li>
	    	<li>
	    		<span class="diamond blue-diamond edit-px"></span><span class="key">熟悉grunt，bower等前端开发工具;</span>
	    	</li>
	    	<li>
	    		<span class="diamond blue-diamond edit-px"></span><span class="key">熟悉git，svn的使用;</span>
	    	</li>
	      </ul>
		</div>
	</div>
</div>