body{
	background: url(../images/bac.jpg) left top no-repeat;font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}
ul{padding-left: 0;}
ul li{list-style: none;}
.my-navbar{font-family: Brush Script Std;color: rgba(0,0,0,.8);font-size: 27px;font-weight: bold;}
.pointer{cursor: pointer;}
@media(min-width: 768px){
	.navbar-default .my-nav>.active>a{background-color: #f8f8f8;}
    .navbar-default .my-nav>.active>a:hover {background-color: #f8f8f8;}
    .navbar-default .my-nav>.active>a:focus {background-color: #f8f8f8;}
	.my-nav>.active>a:after {
	content: "";
    background-color: red;
    height: 6px;
    width: 6px;
    right: 7px;
    top: 18px;
    position: absolute;
    border-radius: 50% 50%;
    display: block;}
}

.in-main{margin-top: 57px;}

.header{
	min-height: 400px;position: relative;background: url(../images/page1.jpg) center center no-repeat;transition-duration:1s; 
}
@media(max-width: 492px){
  .header{min-height: 200px;}
}
li#about:hover .header{background-image:url("../images/page2.png");}
.clear{content: "";clear: both;}

.annotation{margin-top:15px;margin-bottom: 15px;position: relative;height: 30px;}

.annotation span{    float: right;padding-right: 50px;color: rgba(0,0,0,.5);line-height: 30px;}

.main-img-dyn{padding-left: 0;}

.main-img-dyn li{float: left;width: 25%;position: relative;}
.main-img-dyn li img{width: 100%;}
.main-img-dyn li:hover{cursor: pointer;}
@media(max-width: 560px){
    .main-img-dyn li{width: 50%;}
}
.img-hover{ background-size: 100%; height: 100%;width: 100%;position: absolute;display: none;}
.meself-hover{background: url(../images/bag1.png) center center no-repeat;}
.experience-hover{background: url(../images/bag3.png) center center no-repeat;}
/*.meself:hover .meself-hover{display: block;}
.experience:hover .experience-hover{display: block;}*/

.bottom{height: 50px;content: ""}

.nav-user{float: right;margin-bottom: 0px;margin-top: 3px;padding-right: 50px;}
.nav-user div{float: left;}
.nav-user div:first-of-type{    float: left;margin-top: 11px;margin-right: 15px;border: 1px solid #e3e3e3;border-radius: 25px 25px;background-color: #ccc;}
.nav-user input{    border: none;background-color: #ccc;width: 130px;margin-left: 12px;height: 23px;    outline: 0;}
.nav-user .glyphicon{    top: 3px;right: 8px;color: #fff;}
.nav-user img{width: 50px;height: 50px;}

@media(max-width: 938px){
	.nav-user{display: none;}
	.in-main{margin-right: 30px;margin-left: 30px;}
}
@media(min-width: 939px) and (max-width: 1440px){
    .in-main{margin-left: 135px;margin-right: 135px;}
}
@media(min-width: 1441px){
    .in-main{ max-width: 1153px;margin-left: auto;margin-right: auto;}
}
/*about me css*/
.about-me-dyn{margin-top: 100px;}

.det-user-wrap{ width: 300px;float: left;margin-right: -300px;background-color: #fff;padding-top: 35px;}

.det-user-wrap .dyn-user-img{text-align: center;}

.dyn-user-name{text-align: center;font-size: 27px;margin-top: 37px;color: #585858;}
.dyn-uesr-job{text-align: center;font-size: 18px;margin-top: 4px;color: #6D6D6D;}
.dyn-uesr-address{text-align: center;color: #5C5C5C;font-size: 16px;margin-top: 18px;}
.dyn-uesr-address .glyphicon{font-size: 24px;top: 4px;right: 6px;}

.det-user-inf{    position: relative;padding-left: 0px;margin-top: 34px;margin-bottom: 0px;}
.det-user-inf li{padding-left: 72px;font-size: 20px;height: 53px;color: #575755;line-height: 53px;width: 100%; border-bottom: 1px solid #E0E0DF;}
 .det-user-inf li.active{background-color: #55CCC8;}
.det-user-inf li>.glyphicon{    padding-right: 16px;}

.det-user-list{ padding-left: 355px;float: left;}
.det-user-list .me-wrap{padding-left: 10px;}
@media(max-width: 365px){
    .det-user-inf li{padding-left: 42px;}
}
@media(max-width: 804px){
  .det-user-wrap{width: 100%;float: none;margin-left: 0}
  .det-user-list{padding-left: 0;float: none;margin-top: 40px;}
  .det-user-list .me-wrap{padding-left: 0;}
}
.dyn-icon-bar{float: left;margin-right: 15px;margin-bottom: 11px;background-color: transparent;background-image: none;border: 1px solid transparent;border-radius: 4px;}

.dyn-icon-bar .my-icon-bar{    display: block;width: 50px;background-color: #fff;height: 6px;border-radius: 5px;}

.dyn-icon-bar .my-icon-bar+.my-icon-bar{margin-top: 6px;}

.about-me-tit{font-size: 29px;font-weight: 700;color: #56CCC8;margin-top: 12px;}

/*棱形*/
.diamond {
            width: 12px;
            height: 12px;
            position: absolute;
            -webkit-transform-origin: 0 100%;
            -moz-transform-origin: 0 100%;
            -o-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
            transform-origin: 0 100%;
            -webkit-transform:rotate(-45deg);
            -moz-transform:rotate(-45deg);
            -o-transform:rotate(-45deg);
            -ms-transform:rotate(-45deg);
            transform:rotate(-45deg);
        }
.black-diamond{background: #575757;}
.blue-diamond{background-color: #56CCC8;}
.about-me-details{padding-left: 0px;position: relative;margin-left: 6px;margin-top: 48px;}
.about-me-details li{height: 30px;position: relative;margin-bottom: 30px;}
.about-me-details li .diamond{top: 13px;left: 9px;}
.about-me-details li .key{    padding-left: 28px;font-size: 24px;padding-right: 11px;font-weight: 700;color: #575757;}
.about-me-details li .value{    font-size: 22px;color: #6B6B6B;}

.description-value{padding-left: 211px;}
@media(max-width: 1126px){
    .description{display: block;}
    .description-value,.description-value-one{padding-left: 30px;}
}

/* experience css */
.exp-left-dyn{  z-index: 4;position: relative;  width: 172px;height: 364px;background: url("../images/expbg.png") center top no-repeat;float: left;margin-right: -172px;padding-top: 32px;text-align: center;}
.exp-left-tit{ font-family: Brush Script Std;color: #fff;font-size: 40px;display: block;}
.exp-menu-dyn{margin-top: 37px;}
.exp-menu-dyn div{margin-bottom: 5px;}
.exp-menu-dyn a{height: 20px;color: #fff;padding: 2px 8px;font-size: 13px;}
.exp-menu-dyn a:hover {text-decoration: none;cursor: pointer;}
.exp-menu-dyn a.active{background-color: #3C3C3C;}

.exp-content-dyn{z-index: 3;position: relative; float: left;padding-left: 225px;width: 100%;padding-top: 56px;}
.exp-main-box{padding-left: 30px;width: 100%;background-color: #6D6D6D;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.exp-content-box{padding-top: 21px;}
.exp-content-box:last-of-type{padding-bottom: 40px;}
.exp-tit{color: #56CCC9;}
.exp-tit span:nth-child(2){top: 2px;position: relative;left: 40px;font-size: 18px;font-weight: 700;}
.add-icon{width: 28px;height: 28px;font-size: 28px;text-align: center;line-height: 24px;border: 2px solid;display: block;border-radius: 100% 100%;position: absolute;}
.exp-wrap-dyn{ margin-left: 48px;margin-right: 128px;margin-top: 16px;height: 24px;}
.exp-work{color: #56CCC9;font-size: 18px;}
.exp-work.exp-work-child{font-size: 16px;}
.exp-work.exp-work-child span:first-of-type{padding-left: 4px;padding-right: 10px;}
.exp-work-tiem{ float: left;margin-right: -108px;}
.exp-work-name{ float: left;padding-left: 127px;width: 100%;}
.exp-work-name:after{content: '';clear: both;}
.exp-new-wrap{ margin-left: 48px;margin-right: 128px;border-bottom: 2px dashed #7F7F7E;border-top: 2px dashed #7F7F7E;}
.exp-new-wrap.xm-wrap{border-bottom: none;}
.new-wrap-round{ border-left: 2px dashed #7F7F7E;margin-left: 34px;height: 100%;}
.company{color: #fff;font-size: 16px;padding-top: 2px;}
.company.company-tit{padding-left: 4px; float: left;margin-right: -73px;}
.company.company-content{    float: left;padding-left: 92px;width: 100%;margin-left: 2px;}
.company.company-content:last-of-type{border-bottom: 2px dashed #7F7F7E;}
.company.company-content:after{clear: both;content: '';display: block;}

@media(max-width: 615px){
    .exp-left-dyn{    width: 100%;float: none;margin-right: 0;background-size: 100% 100%;}
    .exp-content-dyn{    float: none;padding-left: 0;}
}

@media(max-width: 706px){
    .exp-wrap-dyn,.exp-new-wrap{margin-left: 0;}
}

@media(max-width: 989px){
    .exp-wrap-dyn{height: inherit;}
    .exp-work-tiem{float: none;margin-right: 0;}
    .exp-work-name{float: none;padding-left: 0;}
}

@media(max-width: 1099px){
    .exp-wrap-dyn,.exp-new-wrap{margin-right:15px; }

}

/*****skills*******/
.skills-details{padding-top: 100px;padding-bottom: 80px;}
.skills-details li{
    margin-top: 15px;position: relative;
}

.skills-details .key{padding-left: 20px;font-size: 18px;}

.edit-px{top: 7px;}